<!DOCTYPE html>
<html>
<head>
    <title>Transport Details</title>
</head>
<body>

    <h1>Transport Details</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <td>{{ transport.id }}</td>
        </tr>

        <tr>
            <th>Transport Name</th>
            <td>{{ transport.name }}</td>
        </tr>

        <tr>
            <th>Transport Type</th>
            <td>{{ transport.transport_type }}</td>
        </tr>

        <tr>
            <th>Vehicle Number</th>
            <td>{{ transport.vehicle_number }}</td>
        </tr>

        <tr>
            <th>Capacity</th>
            <td>{{ transport.capacity }}</td>
        </tr>

        <tr>
            <th>Driver Name</th>
            <td>{{ transport.driver_name }}</td>
        </tr>

        <tr>
            <th>Route</th>
            <td>{{ transport.route }}</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>{{ transport.status }}</td>
        </tr>
    </table>

    <br>

    <a href="{% url 'all_transport' %}">Back to All Transport</a>

</body>
</html>